<link rel="stylesheet" href="/css/change.css">



<div class = "container">
  <div class = "input-form">
     
     
       <% if(isValid){ %>
      <form class="form-style" action="/users/create-new-password" method="POST">
        <input type="password" id="password" name="password" placeholder="Enter New Password" required>
        <label for="password"> Enter New Password </label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password" required>
        <label for="password"> Confirm Password </label>
        <input type="hidden" name="accessToken" value="<%= accessToken %>">
        <button type="submit"> Reset Password </button>
      </form>
    
      <% } %>
</div>
</div>