       
<!-- <% if(locals.user) { %> 
         <p> <%= user.name %> </p>
        <p> <%= user.email %> </p>
               
<%} %> -->


                <p> <%= profile_user.name %> </p>
                <p> <%= profile_user.email %> </p>
