<link rel="stylesheet" href="/css/sign_in.css">

<div id="user-name">
<% if(locals.user){ %>
  Welcome <h2><%= user.name %></h2>
</div>
<% } else {%> 
<div class = "container">
 <div class = "input-form">
   
   <form action="/users/create-session" method="POST">
      <input type="text" name="email" id="email" placeholder="Enter your email" required>
      <label for="email"> Email Address </label>
      <input type="password" name="password" id="password" placeholder="Enter your password" required>
      <label for="password"> Your Password </label>
      
      <button type="submit"> Sign In </button>
    </form>
  </div>
  

    
</div>
<br>
<br>
<br>
<div>
<a href="/users/reset"> Forgot Password?</a>
<small> Click Here </small>
</div>
<% } %>